# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\17. IO Binary File & Serialization\[Bai đoc] Doc va ghi Binary Files trong Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
