# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\17. IO Binary File & Serialization\[Bai tap] Quan ly san pham luu ra file nhi phan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
